/*----------------------------------TAG SELECTORS-----------------------------------------------*/
body{
  background: linear-gradient(to left, #051937, #001a4a, #00195b, #00166c, #100b7a);
  background-image: url("blue.png");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------------------------------CLASS SELECTORS---------------------------------------------*/
section.header{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
div.mainheader{
  font-size: 3rem;
  font-weight: 700;
}
div.mainheader3{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
}
div.mainheader1{
  font-size: 1rem;
}
div.img1{
  width: 50%;
  position:relative;
}
div.img2{
  width: 50%;
  position: relative;
  left: 360px;
  bottom: 520px;

}
div.img3{
  width: 50%;
  position: relative;
  left: 360px;
  bottom: 500px;
}
div.img4{
  width: 50%;
  position: relative;
  left: 860px;
  bottom: 1015px;

}
div.img5{
  width: 50%;
  position: relative;
  left: 860px;
  bottom: 1000px;
}
